/* Layout */
/* margin: top right bottom left*/
.container { width:950px; margin:0 auto; padding-left: 5px; padding-right: 5px;  
}
.header {
  padding: 2px 0px 0px 0px;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #DDD;
  height: 26px;
  line-height: 23px;
}
.content {
  
}

.page_center_float {
  text-align: left; position: absolute;
  left:   50%;   top:         50%;
  width:  400px; margin-left: -200px;
}
.middle_float { margin: 0 auto; text-align: center; position: relative; }
.left_float   { display: inline; position: relative; float: left; }
.right_float  { display: inline; position: relative; float: right; }

#databox   { height: 400px; }
.leftside  { width: 475px; float: left; }
.rightside { width: 475px; float: right; }
.halfitem  {  }
.item_heading { margin-bottom: 5px; margin-top: 5px;}

/* Typography */

html { font-size:100.01%; }
body { line-height: 1.25; font-size: 75%; color: #222; background: #fff; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 {
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 0.5em;
  font-variant: small-caps;
  letter-spacing: 1px;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  margin-bottom: 0.5em;  
}
h4 {
  display: inline;  
}
p   { margin: 0 0 1em; }


/* Specific Element Styling */

#loading_message_box { 
  z-index: 100000;  
  height: 80px;  margin-top: -40px;
  background:#DEEBF7; border: 2px solid #9ECAE1; padding: 5px;  -webkit-border-radius: 10px; -moz-border-radius: 10px; }
#loading_message_content { color: #666; font-size: 12pt; margin-top: 22px; }
#loading_message_content img { margin: 1px 10px 5px -5px; vertical-align: middle; }
#loading_message_blurb {margin-top: 15px; font-size: 10pt;}

#error_message_box {   
  z-index: 200000;
  height: 350px;  margin-top: -175px;
  display: none; background:#FEE0D2; border: 2px solid #FC9272; padding: 5px;  -webkit-border-radius: 10px; -moz-border-radius: 10px; }
#error_message_content { color: #666; font-size: 10pt; margin-top: 22px; }

#attribution         { color: #888; margin-top: 3px;}
#attribution a       { color: #888; }
#attribution a:hover { color: #39C; }

.item_heading h4 {
  line-height: 23px;
  margin-bottom: 0.5em;
  font-variant: small-caps;
  letter-spacing: 1px;
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 5px; 
}
.item_values {
    color: #f6931f;
}